<section class="section summary-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    Estudiante de Ingeniería de Sistemas
  </h2>

  <div class="summary">
    Soy estudiante de Ingeniería de sistemas en la Pontificia Universidad Javeriana con énfasis en Inteligencia Artificial. Me interesa el desarrollo de soluciones tecnológicas innovadoras aplicando técnicas de IA, machine learning y análisis de datos. Me considero una persona comprometida, con facilidad para aprender nuevas herramientas y con motivación para participar en proyectos de investigación y desarrollo que impulsen la transformación digital.
  </div><!--//summary-->
    
</section><!--//section-->

